@model List<Product>
@{
    Layout = null;
}

@foreach (var item in Model)
{
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                               @foreach (var prodImg in item.ProductImages)
                                           {
                                               if (prodImg.IsMain)
                                               {
                                                 <img width="200" height="220" class="first-image" src="~/images/product/@prodImg.ImageUrl" alt="product">
                                               }
                                              else
                                               {
                                                   <img width="200" height="220" class="second-image" src="~/images/product/@prodImg.ImageUrl" alt="product">
                                               break;
                                               }
                                           }
                                        </a>
                                        @if (item.DiscountPercent>0)
                                        {
                                            <span class="discount-product">-@item.DiscountPercent%</span>
                                        }
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        
                                        <h4 class="product-title"><a href="single-product.html">@item.Name</a></h4>
                                        <div class="product-price">
                                               @if (item.DiscountPercent>0)
                                            {
                                                <span class="regular-price ">€@item.Price</span>
                                                <span class="price-sale">€@item.DiscountPrice</span>
                                            }
                                            else{
                                                <span class="price-sale">€@item.Price</span>
                                            }
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                               
                            </div>
}