@model ExternalLoginVM

<h3>Register</h3>
<h3>Associate your @ViewData["ProviderDisplayName"] account</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <h3>Succesfull authentication to @ViewData["ProviderDisplayName"] account</h3>
    <div class="single-form">
         <input asp-for="Email" placeholder="Email">
    </div>
    <div class="single-form">
         <input asp-for="Username" placeholder="Username">
    </div>
    <div class="single-form">
        <button type="submit" class="main-btn btn-success main-btn-2">Login</button>
    </div>
</form>