@model Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
@section css{
  label{
      color: green;
  }  
}
<div class="row">


     <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create Product</h4>
                  <form class="forms-sample" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                      <label asp-for="Name" ></label>
                      <input asp-for="Name" class="form-control" placeholder="Name">
                      <span style="color: red;" asp-validation-for="Name"></span>
                    </div>
                    
                    <div class="form-group">
                      <label asp-for="Price"></label>
                      <input asp-for="Price" class="form-control" placeholder="Price">
                      <span style="color: red;" asp-validation-for="Price"></span>
                    </div>

                    <div class="form-group">
                      <label asp-for="DiscountPercent"></label>
                      <input asp-for="DiscountPercent" class="form-control" placeholder="Discount Percent">
                      <span style="color: red;" asp-validation-for="DiscountPercent"></span>
                    </div>

                    <div class="form-group">
                      <label asp-for="TaxPercent"></label>
                      <input asp-for="TaxPercent" class="form-control" placeholder="Tax Percent">
                      <span style="color: red;" asp-validation-for="TaxPercent"></span>
                    </div>

                    <div class="form-group">
                      <label asp-for="Count"></label>
                      <input asp-for="Count" class="form-control" placeholder="Count">
                      <span style="color: red;" asp-validation-for="Count"></span>
                    </div>


                    <div class="form-group">
                      <label asp-for="Description"></label>
                      <textarea asp-for="Description" class="form-control" placeholder="Description">
                      </textarea>
                      <span style="color: red;" asp-validation-for="Description"></span>
                    </div>

                    
                    
                    <div class="form-group">
                        <label asp-for="Brand"></label>
                    <select asp-for="BrandId" class="form-select" asp-items="ViewBag.Brands" >
                        <option selected>Brand</option>
                    </select>
                     <span style="color: red;" asp-validation-for="BrandId"></span>
                    </div>

                    
                    
                    <div class="form-group">
                        <label asp-for="Category"></label>
                    <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories" >
                        <option selected>Category</option>
                    </select>
                     <span style="color: red;" asp-validation-for="CategoryId"></span>
                    </div>

                    
                    <div class="form-group">
                        <label> Sub-category</label>
                    <select id="SubCategoryTypeId" class="form-select" >
                        <option selected>Sub category</option>
                    </select>
                    </div>




                    <div class="form-group">
                        <label asp-for="ProductTags"></label>
                    <select style="width: 50%" asp-for="TagId" class="form-select" asp-items="ViewBag.Tags" >
                        <option selected>Tags</option>
                    </select>
                     <span style="color: red;" asp-validation-for="TagId"></span>
                    </div>

                    <div class="form-group">
                      <label asp-for="Photo" ></label>
                      <input asp-for="Photo" class="form-control">
                      <span style="color: red;" asp-validation-for="Photo"></span>
                    </div>


                    <button type="submit" class="btn btn-success me-2">Save</button>
                    <a asp-action="index" class="btn btn-primary"> Go Back</a>
                  </form>
                </div>
              </div>
            </div>


</div>


@section JqueryValidationScript{
    <partial name="_Validation"/>

    <script>
        $(function () {
    $("select#CategoryId").change(function () {
        var cid = $(this).val();
        
        $("select#SubCategoryTypeId").empty();

        $.getJSON(`/AdminPanel/Product/GetSubCategory?cid=${cid}`, function (data) {
            //console.log(data);
            $.each(data, function (i, item) {
                $("select#SubCategoryTypeId").append(`<option value="${item.id}">${item.name}</option>`);
            });
        });
    })
});
    </script>
}