@model Category
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                      <div class="col-md-4">
      <img src="~/images/@Model.ImageUrl" width="100%" class="img-fluid rounded-start" alt="...">
    </div>
                    <div class="card-body">
                      <h4 class="card-title">@Model.Name</h4>
                        <h5 class="card-text">Create time: @Model.CreatedTime</h5>
                        
                        @if (Model.LastUpdatedAt!=null)
                {
                    <h5 class="card-text">Update time:@Model.LastUpdatedAt</h5>
                }    
                        
                    </div>
                <a style="align-self:center; margin-bottom: 40px; margin-top: 40px;" asp-controller="category" asp-action="index" class="btn btn-info w-25">Go Back</a>
                  </div>
                </div>

</div>
 