@model Order
@{
    double total = 0;
    foreach (var item in ViewBag.Products)
    {
        total += item.Price * item.ProductCount;
    }
}
    <section class="checkout-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row">
                   <div class="col-xl-8 col-lg-7">
                    <div class="checkout-form">
                        <form method="post" >
                            <div asp-validation-summary="ModelOnly"> </div>
                            <div class="billing-address mt-30">
                                <h4 class="allup-title">Billing Address</h4>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Firstname">First Name*</label>
                                            <input asp-for="Firstname" placeholder="First Name">
                                        </div>
                                        <span asp-validation-for="Firstname"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Lastname">Last  Name*</label>
                                            <input asp-for="Lastname" placeholder="Last Name">
                                        </div>
                                        <span asp-validation-for="Lastname"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Email">Email Address*</label>
                                            <input asp-for="Email" placeholder="Email Address">
                                        </div>
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Phone">Phone no*</label>
                                            <input asp-for="Phone" placeholder="Phone no">
                                        </div>
                                        <span asp-validation-for="Phone"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <label asp-for="Companyname">Company Name</label>
                                            <input asp-for="Companyname" placeholder="Company Name">
                                        </div>
                                        <span asp-validation-for="Companyname"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <label asp-for="Address">Address</label>
                                            <input asp-for="Address" placeholder="Address Line 1">
                                            @*<input type="text" placeholder="Address Line 2">*@
                                        </div>
                                        <span asp-validation-for="Address"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Country">Country</label>
                                            <select>
                                                <option value="">Azerbaijan</option>
                                                <option value="">Bangedesh</option>
                                                <option value="">India</option>
                                                <option value="">Pakistan</option>
                                                <option value="">Nepal</option>
                                                <option value="">China</option>
                                                <option value="">Japan</option>
                                            </select>
                                        </div>
                                     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="City">Town/City*</label>
                                            <input asp-for="City" placeholder="Town/City">
                                        </div>
                                        <span asp-validation-for="City"></span>
                                    </div>
                                  @*  <div class="col-md-6">
                                        <div class="single-form">
                                            <label>State*</label>
                                            <input type="text" placeholder="State">
                                        </div>
                                    </div>*@
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Zipcode">Zip Code*</label>
                                            <input asp-for="Zipcode" placeholder="Zip Code">
                                        </div>
                                        <span asp-validation-for="Zipcode"></span>
                                    </div>
                                </div>
                            </div>
                              <div class="checkout-btn">
                             <button asp-action="order" style="right: 200px; position: absolute" type="submit" class="btn btn-success">Place Order</button>
                             </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="checkout-total-wrapper mt-30">
                        <h4 class="allup-title">Cart Total</h4>
                        <div class="checkout-total mt-30">
                            <h4 class="title">Product  <span>Total</span></h4>
                            <ul>
                               @foreach (var prod in ViewBag.Products)
                              {
                                   <li>
                                    <p class="total-value">@prod.Name X @prod.ProductCount</p>
                                    <p class="total-amount">€@(prod.ProductCount*prod.Price)</p>
                                </li>
                              }
                            </ul>
                            <div class="checkout-total-sub">
                                <p class="total-value">Sub Total</p>
                                <p class="total-amount">€@total</p>
                            </div>
                            <div class="checkout-total-sub">
                                <p class="total-value">Shipping Fee </p>
                                <p  class="total-amount">€<span id="shippingFee">0</span></p>
                            </div>
                            <h4 class="title mt-15">Product
                                <span>€0</span>
                             </h4>
                        </div>
                    </div>

                    <div class="checkout-payment-wrapper mt-30">
                        <h4 class="allup-title">Payment Method</h4>
                        <div class="checkout-payment mt-30">
                            <ul>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="check" checked="checked">
                                            <label for="check"><span></span> Check Payment</label>

                                            <div class="payment-details">
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="bank">
                                            <label for="bank"><span></span> Direct Bank Transfer</label>

                                            <div class="payment-details">
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="cash">
                                            <label for="cash"><span></span> Cash on Delivery</label>

                                            <div class="payment-details" >
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="paypal">
                                            <label for="paypal"><span></span> Paypal</label>

                                            <div class="payment-details" >
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="payoneer">
                                            <label for="payoneer"><span></span> Payoneer</label>

                                            <div class="payment-details" >
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="accept">
                                        <label for="accept"></label>
                                        <p>I’ve read and accept the terms & conditions</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                     
                  
                </div>
            </div>
        </div>
    </section>


@section checkout {

      <partial name="_ValidationScriptsPartial"/>
}